<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"  content="width=device-width, initial-scale=1">
  <title>Galería— PmHour</title>
  <link rel="icon"  href="../assets/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../assets/styles/temas.css">
  <link rel="stylesheet" href="../assets/styles/main.css">
</head>
<body>
  <header class="header">
    <div class="container nav">
      <a class="brand" href="../index.html">
        <img src="../assets/img/logo_pmhour_4.png" alt="PmHour" class="logo-img">
        <span>PmHour</span>
      </a>
      <nav class="menu" aria-label="Principal">
        <a href="../index.html">Inicio</a>
        <a href="../views/galeria.html" aria-current="page">Galería</a>
        <a href="../views/presupuesto.html">Presupuesto</a>
        <a href="../views/contacto.html">Contacto</a>
      </nav>
    </div>
  </header>

  <main class="container gallery">
    <section id="galeria" class="grid-3x2" aria-live="polite">
         <h1 class="page-title">Galería</h1>
    </section>
  </main>

  <footer class="footer">
    <div class="container">
      © 2025 PmHour · Síguenos en
      <a href="https://www.instagram.com/" target="_blank" rel="noopener">Instagram</a> ·
      <a href="https://www.tiktok.com/" target="_blank" rel="noopener">TikTok</a> ·
      <a href="https://www.youtube.com/" target="_blank" rel="noopener">YouTube</a>
    </div>
  </footer>

  <script src="../js/galeria.js" defer></script>
</body>
</html>